* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial;

}

body {
    background-color: hsl(206, 31, 10, 100%);
}
a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    gap:200px;

    justify-content: center;
    align-items: center;

    margin-top: 10px;

    font-size: 1.3rem;
}

.header a {
    color: white;

    text-decoration: underline;
    text-decoration-color: hsl(8, 83, 61, 100%);
}