.conferences-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline dotted rgba(238, 174, 202, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
}

.conferences-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.timeline {
    margin: 0 auto;
    max-width: 750x;
    padding: 25px;
    display: grid;
    color: black;
}