.home {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 550px;
    border-radius: 50px;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    background-color: white;
}


.home-header,
.skills-header,
.projects-header,
.conferences-header,
.contact-header {
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: text-decoration 0.15s;
}

.home-header:hover,
.skills-header:hover,
.projects-header:hover,
.conferences-header:hover,
.contact-header:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}


.main-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
}

.name,
.text {
    color: white;
}

.name {
    font-size: 60px;
}

.name-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.box {
    margin-left:10px;
    width: 8px;
    height: 45px;
    padding-top: 5px;
    background-color: white;
    animation: blink 0.95s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.prompt {
    color: white;
    font-family: monospace;
    font-size: 50px;
    margin-right: 10px;
}

.text {
    padding-top: 10px;
    font-size: 19px;
}

.find-me-section {
    display: flex;
    justify-content: row;
    margin-top: 30px;
    gap: 10px;
    vertical-align: middle;
    justify-items: center;
}
.github-logo,
.linkedin-logo {
    width: 23px;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}

.find-me {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
