.home {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}


.home-header,
.skills-header,
.projects-header,
.conferences-header,
.contact-header {
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: text-decoration 0.15s;
}

.home-header:hover,
.skills-header:hover,
.projects-header:hover,
.conferences-header:hover,
.contact-header:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}


.main-home {
    display: flex;
    align-items: center;
    margin-top: 300px;
    flex-direction: column;
    position: absolute;
}
.name,
.text {
    color: white;
}

.name {
    font-size: 50px;
}

.name-part {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.box {
    margin-left:10px;
    padding-top: 3px;
    width: 15px;
    height: 50px;
    background-color: white;
    animation: blink 0.15 step-end infinite;
}
