.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.projects-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline dotted rgba(238, 174, 202, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
}

.myportfolio-container {
    margin-top: 50px;
    border-color: rgba(148, 187, 233, 1);
    border-width: 3px;
    border-radius: 5px;
    height: 250px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.myportfolio-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myportfolio-img {
    width: 250px;
    padding-left: 10px;
}

.portfolio-descript {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    vertical-align: middle;
    justify-content: center;
    padding-right: 10px;
}

.myportfolio-skills {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-skills {
    border-style: solid;
    border-color: rgba(238, 174, 202, 1);
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 2px;
}


.myportfolio-descript {
    border-bottom: rgb(214, 230, 248);
    border-bottom-style: solid;
    border-width: 1px;
    padding-bottom: 15px;
}