.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.projects-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline dotted rgba(238, 174, 202, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
}

.myportfolio-container {
    margin-top: 50px;
    border-color: rgba(148, 187, 233, 1);
    border-width: 1px;
    border-radius: 5px;
    height: 250px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    box-shadow: 1px 2px 3px rgba(148, 187, 233, 1)
}

.myportfolio-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myportfolio-img {
    width: 300px;

}