.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.skills-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline dotted rgba(238, 174, 202, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
}

.logo-skills {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.logo-skills img {
    width: 80px;
    height: 80px;
    float: left;
    background-size: cover;
}