.terminal-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.header-terminal {
    display: flex;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    left: 0;
    height: 28px;
    width: 100%;
    background-color: rgba(57,54,51,255);
}

.first-circle {
    margin-top: 10px;
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #b64a26;
    border-radius: 50%;
}

.second-circle {
    margin-top: 10px;
    margin-left: 7px;
    height: 10px;
    width: 10px;
    background-color: #54534f;
    border-radius: 50%;
}

.third-circle {
    margin-top: 10px;
    margin-left: 7px;
    height: 10px;
    width: 10px;
    background-color: #54534f;
    border-radius: 50%;
}

.terminal-part {
    position: relative;
    background-color: rgba(43,11,31,255);
    max-width: 900px;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

.name-location,
.name-contact,
.name-cv,
.name-education,
.name-languages,
.continue-code {
    color: #feffff;
    margin-bottom: 10px;
    font-family: Cascadia Code, Arial;
}

.desktop {
    color: #618eae;
    font-weight: bold;
}

.email {
    color: #5fbb28;
    font-weight: bold;
}

.plain-text-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.15s;
}

.plain-text-link:hover {
    color: lightslategray;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    
}

.blinking-cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
}