.terminal-container {
    margin-top: 30px;
}

.header-terminal {
    display: flex;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(57,54,51,255);
    height: 30px ;
    width: 900px;
}

.first-circle {
    margin-top: 10px;
    margin-left: 10px;
    height: 10px;
    width: 10px;
    background-color: #b64a26;
    border-radius: 50%;
}

.second-circle {
    margin-top: 10px;
    margin-left: 7px;
    height: 10px;
    width: 10px;
    background-color: #54534f;
    border-radius: 50%;
}

.third-circle {
    margin-top: 10px;
    margin-left: 7px;
    height: 10px;
    width: 10px;
    background-color: #54534f;
    border-radius: 50%;
}

.terminal-part {
    background-color: rgba(43,11,31,255);
    width: 900px;
    padding-top: 35px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

.name-location,
.name-contact,
.name-cv,
.name-education,
.name-languages,
.continue-code {
    color: #feffff;
    margin-bottom: 3px;
}

.desktop {
    color: #618eae;
    font-weight: bold;
}

.email {
    color: #5fbb28;
    font-weight: bold;
}

.continue-code {
    display: inline;
    background-color: #feffff;
    height: 23px;
    width: 10px;
}